.git
.gitignore
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.DS_Store

safeguardmedia/.venv/
fvaui/.venv/
node_modules/

safeguardmedia/src/api/engines/vff/working/
tmp/
dist/
build/

*.log
*.sqlite3
