> > IMAGE FORENSICS

Test 1:

Image Description: I took the picture with a phone. I croppede it and increased the brightness and contrast. I sent it to drive and downloaded it again.

Result: LIkely Authentic. Tamering Likelihod - 0% Confidence - High ELA score - 0.25 Noise Inconsistency - 10.07 Clone Score - 1.76 Double compression - Low

Test 2:

Image Description: I downloaded this image from social media. A English women footballer was in it. I croppede it and reduced the brightness and contrast. I sent it to drive and downloaded it again.

Result: LIkely Authentic. Tamering Likelihod - 20% Confidence - High ELA score - 0.23 Noise Inconsistency - 15.01 Clone Score - 4.28 Double compression - Medium

Test 3:

Image Description: A chat gpt generated image.

Result: Possibly Tampered. Tamering Likelihod - 35% Confidence - Medium ELA score - 1.13 Noise Inconsistency - 34.89 Clone Score - 0.26 Double compression - N/A

Test 4:

Image Description: I download an imag online from Whatsapp. The image is a Graphics for full time scores between Everton and Man United

Result: LIkely Tampered. Tamering Likelihod - 92%% Confidence - High ELA score - 0.56 Noise Inconsistency - 87.2 Clone Score - 4.25 Double compression - High

Test 5:

Image Description: A compressed image of a person

Result: LIkely Authentic Tamering Likelihod - 17% Confidence - High ELA score - 0.17 Noise Inconsistency - 21.07 Clone Score - 1.69 Double compression - Low

Test 6:

Image Description: An AI edited image.

Result: Review Recommended. Tampering Likelihood - 35% Confidence - Medium ELA Score - 0.34 Noise Inconsistency - 37.34 Clone Score - 2.0% Double compression - Low
Test 7

Image Description: An AI generated image

Result: LIkely Authentic. Tamering Likelihod - 17%% Confidence - High ELA score - 0.23 Noise Inconsistency - 15.88 Clone Score - 1.70 Double compression - Medium

Test 8

Image Description: A meme picture with texts

Result: LIkely Tampered. Tamering Likelihod - 82%% Confidence - High ELA score - 0.07 Noise Inconsistency - 68.48 Clone Score - 10.06 Double compression - Medium

Test 9

Image Description: A meme picture with overlayed texts. The icture is a little blurry,

Results: Review Recommended. Tampering Likelihood - 52% Confidence - Medium ELA Score - 0.24 Noise Inconsistency - 14.35 Clone Score - 20.45 Double compression - Medium

Test 10

Image Description: Another meme picture with overlayed texts. The icture is a little blurry

Results: Likely Tampered. Tampering Likelihood - 95% Confidence - High ELA Score - 0.36 Noise Inconsistency - 36.71 Clone Score - 6.49 Double compression - High

> > VIDEO FORENSICS

Test 1

Video Description: This is an AI generated video of trump, putin and zelesnky dancing and singing. I used the AI video for this test.

Result: Likely Authentic with a low confidence percentage

> > VIDEO FRAME ANALYSIS

Test 1

Video Description: This is an AI generated video of trump, putin and zelesnky dancing and singing. I used the AI video for this test.

Result: Likely Tampered - 99% Confidence - High temporal_findings - 33 spatial_findings - 25
visual forensics: Likely Tampered - 39.5 Confidence - MEDIUM mean_ela_score - 1.27 mean_noise_score - 53.74 mean_clone_score - 1.59
